@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  --primary-color: #9c0909;
  --secondary-color: #efb200;
  --third-color: black;

  --font-title: "IBM Plex Mono";
  --font-text: "29LT Zarid Text";

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../assets/icons8-epee-67.png"), auto;
}
